<footer class="footer">
  <div class="container">
    <p>&copy; Municipalidad de Mina Clavero. Todos los derechos reservados.</p>
        <div class="footer-column">
          <h3>Oficina de Turismo Central</h3>
          <p>Av. San Martin esq Fleming</p>
          <p>Tel: (03544) - 470171 / 559410 (Plazoleta) / 412128 (Rotonda)</p>
        </div>
    <ul class="footer-links">
      <div class="social-media">
        <a href="https://www.facebook.com/MinaClaveroOfc/?locale=es_LA" target="_blank" rel="noopener">
          <img src="../../../../assets/img/facebook (2).png" alt="Facebook">
        </a>
        <a href="https://twitter.com/MinaClaveroOfc" target="_blank" rel="noopener">
          <img src="../../../../assets/img/twitter (2).png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/minaclaverook/?hl=es-la" target="_blank" rel="noopener">
          <img src="../../../../assets/img/instagram.png" alt="Instagram">
        </a>
      </div>
    </ul>
  </div>