.contenedor{
    display: flex; 
    justify-content: space-around; 
    margin: 50px;
}

.contenedorGraficos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.corrector{
  margin-left: 100px;
  max-width: 350px;
}

.corrector2{
  margin-left: 80px;
  max-width: 350px;
}


h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif
}

h3{
  font-family: 'Karla', sans-serif;
  margin-top: 15px;
}



/* Media Queries */
  @media (max-width: 992px) {
    .contenedor{
        flex-direction: column;
        align-items: center;
    }

    .contenedorGraficos{
      padding: 50px 0;
    }
    
  
   
  }
  
  @media (max-width: 768px) {
    .contenedor{
        flex-direction: column;
    }

  
    
    .corrector2, .corrector{
      margin-left: 80px;
      max-width: 250px;
    }
    
  
  }
  
  @media (max-width: 576px) {
  
    .contenedor{
        flex-direction: column;
    }
    
  }