<div class="contenedor" @enterState>
    <h1 class="text-center">¡Ayudanos a mejorar tu experiencia en Mina Clavero!</h1>
    <p>Desde la Secretaría de Turismo de la Municipalidad de Mina Clavero estamos desarrollando una encuesta con el fin de conocer cuáles son sus preferencias y nivel de satisfacción en cuanto a la experiencia en nuestra localidad, para asi convertirlo en el mejor
        lugar para sus vacaciones. Los datos son confidenciales y anónimos.</p>

    <button mat-button color="primary" class="button-form" (click)="button()">Comenzar Encuesta</button>
</div>